<ion-content>
  <div class="custom-card">
    <img src="assets/img.jpg" />
    <span class="date">11/26/2021 10:07:08 AM</span>
    <span class="card-info">Axie infinity Plot Sells for $2.5M</span>
  </div>

  <div class="custom-card">
    <img src="assets/img.jpg" />
    <span class="date">11/26/2021 10:07:08 AM</span>
    <span class="card-info">Axie infinity Plot Sells for $2.5M</span>
  </div>

  <div class="custom-card">
    <img src="assets/img.jpg" />
    <span class="date">11/26/2021 10:07:08 AM</span>
    <span class="card-info">Axie infinity Plot Sells for $2.5M</span>
  </div>

  <div class="custom-card">
    <img src="assets/img.jpg" />
    <span class="date">11/26/2021 10:07:08 AM</span>
    <span class="card-info">Axie infinity Plot Sells for $2.5M</span>
  </div>

  <div class="custom-card">
    <img src="assets/img.jpg" />
    <span class="date">11/26/2021 10:07:08 AM</span>
    <span class="card-info">Axie infinity Plot Sells for $2.5M</span>
  </div>

  <div class="custom-card">
    <img src="assets/img.jpg" />
    <span class="date">11/26/2021 10:07:08 AM</span>
    <span class="card-info">Axie infinity Plot Sells for $2.5M</span>
  </div>
</ion-content>
